---
import Layout from "../layouts/Layout.astro";
import SimpleSection from "../components/SimpleSection.astro";

import car from "../assets/images/car-garage.jpg";

const title = "About — Elite Sport Private Office";
const description =
	"Elite Sport Private Office we keep it simple, talk your language, understand your situation, and want to protect what’s yours";
---

<Layout {title} {description}>
	<main>
		<h1 class="sr-only">About</h1>
		<SimpleSection
			heading="Protecting your success"
			body="<p>Your world can be hard to navigate. With Elite Sport Private Office we keep it simple, talk your language, understand your situation, and want to protect what’s yours. Our collective experience and expertise can help you optimise every aspect of your life.</p>"
			image={car}
			pinImageOnMobile="bottom"
			alt="Car in a garage"
			loading="eager"
		/>
	</main>
</Layout>
