---
import Layout from "../layouts/Layout.astro";
import SimpleSection from "../components/SimpleSection.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>About</h1>
		<SimpleSection
			heading="Protecting your success"
			body="Your world can be hard to navigate"
		/>
	</main>
</Layout>
