---
import Layout from "../layouts/Layout.astro";
import SimpleSection from "../components/SimpleSection.astro";

const title = "About";
const description = "About page description";
---

<Layout {title} {description}>
	<main>
		<h1>About</h1>
		<SimpleSection
			heading="Protecting your success"
			body="Your world can be hard to navigate"
		/>
	</main>
</Layout>
