---
import Layout from "../layouts/Layout.astro";
import SimpleSection from "../components/SimpleSection.astro";

const title = "Our Approach";
const description = "Wealth is a hugely emotive topic that";
---

<Layout {title} {description}>
	<main>
		<h1>Our Apporach</h1>
		<SimpleSection
			heading="The meaning of wealth"
			body="Wealth is a hugely emotive topic that"
		/>
	</main>
</Layout>
