---
import Layout from "../layouts/Layout.astro";
import SimpleSection from "../components/SimpleSection.astro";

import pool from "../assets/images/infinity-pool.jpg";

const title = "Our Approach — Elite Sport Private Office";
const description =
	"Wealth is a hugely emotive topic that goes so much deeper than money";
---

<Layout {title} {description}>
	<main>
		<h1 class="sr-only">Our Apporach</h1>
		<SimpleSection
			heading="The meaning of wealth"
			body="<p>Wealth is a hugely emotive topic that goes so much deeper than money. It’s about legacy, and how that touches the people you care about. It’s about  putting your money where your heart is. It’s about your wellbeing today, and tomorrow. It’s about reaching the top of your game and leaving a lasting legacy.</p>"
			image={pool}
			alt="Infinity pool"
			loading="eager"
		/>
	</main>
</Layout>
