---
import Layout from "../layouts/Layout.astro";
import SimpleSection from "../components/SimpleSection.astro";

import pool from "../assets/images/infinity-pool.jpg";

const title = "Our Approach — Elite Sport Private Office";
const description = "Wealth is a hugely emotive topic that";
---

<Layout {title} {description}>
	<main>
		<h1 class="sr-only">Our Apporach</h1>
		<SimpleSection
			heading="The meaning of wealth"
			body="Wealth is a hugely emotive topic that"
			image={pool}
			alt="Infinity pool"
		/>
	</main>
</Layout>
