---
import Layout from "../layouts/Layout.astro";
import SimpleSection from "../components/SimpleSection.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Contact</h1>
		<SimpleSection
			heading="Together asone"
			body="Get in touch for an initial conversation and to find out how we can help."
		/>
	</main>
</Layout>
