---
import Layout from "../layouts/Layout.astro";
import SimpleSection from "../components/SimpleSection.astro";

import image6 from "../assets/images/6.webp";

const title = "Contact";
const description =
	"Get in touch for an initial conversation and to find out how we can help.";
---

<Layout {title} {description}>
	<main>
		<!-- <h1>Contact</h1> -->
		<SimpleSection
			heading="Together asone"
			body="Get in touch for an initial conversation and to find out how we can help."
			image={image6}
		/>
	</main>
</Layout>
