---
import Layout from "../layouts/Layout.astro";
import SimpleSection from "../components/SimpleSection.astro";
import AnimatedSection from "../components/AnimatedSection.astro";

const title = "Elite Sport Private Office";
const description =
	"Elite Sport Private Office is a high-end network of specialist experts.";
---

<Layout {title} {description}>
	<main>
		<h1>Elite Sport Private Office</h1>
		<SimpleSection
			heading="A service like no other"
			body="Elite Sport Private Office is a high-end network of specialist experts. This trusted We’ve spent time carefully curating a needs."
		/>
		<SimpleSection
			heading="Protecting your success, today and tomorrow"
			body="Our mission is to help today’s generation and future generations of athletes make the most of their opportunities. Sensitive and discrete in approach, we are a select team of consultants and PA’s, drawing on our specialist knowledge and connecting all the dots for you."
		/>
		<AnimatedSection />
		<SimpleSection
			heading="Moving forward"
			body="We get where you’re at because we’ve been there."
		/>
	</main>
</Layout>
