---
import Layout from "../layouts/Layout.astro";
import SimpleSection from "../components/SimpleSection.astro";

import image7 from "../assets/images/7.webp";

const title = "Services";
const description =
	"We can connect you to the right expertise across the following areas:";
---

<Layout {title} {description}>
	<main>
		<!-- <h1>Services</h1> -->
		<SimpleSection
			heading="A wealth of knowledge"
			body="We can connect you to the right expertise across the following areas:"
			image={image7}
		/>
	</main>
</Layout>
