---
import Layout from "../layouts/Layout.astro";
import SimpleSection from "../components/SimpleSection.astro";

const title = "Services — Elite Sport Private Office";
const description =
	"We can connect you to the right expertise across the following areas:";
---

<Layout {title} {description}>
	<main>
		<h1 class="sr-only">Services</h1>
		<SimpleSection
			heading="A wealth of knowledge"
			body="<p>We can connect you to the right expertise across the following areas:</p>"
			services={[
				"Bespoke PA Service",
				"Commercial Insurance",
				"Residential Insurance",
				"Motor Insurance",
				"Personal Insurance",
				"Financial Planning & Advice",
				"Investment Planning",
				"Business Consulting",
				"Retirement Planning",
				"Tax Planning & Advice",
				"Full Accountancy Management",
				"Commercial & Residential Mortgage Planning",
				"Hospitality Concierge",
			]}
			mobilePosition="center"
		/>
	</main>
</Layout>
