---
import Layout from "../layouts/Layout.astro";
import SimpleSection from "../components/SimpleSection.astro";

const title = "Services — Elite Sport Private Office";
const description =
	"We can connect you to the right expertise across the following areas:";
---

<Layout {title} {description}>
	<main>
		<h1 class="sr-only">Services</h1>
		<SimpleSection
			heading="A wealth of knowledge"
			body="We can connect you to the right expertise across the following areas:"
		/>
	</main>
</Layout>
