---

---

<section>
	<h2>Animated Section</h2>
	<p>body</p>
	<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 447 448">
		<path
			fill="#fff"
			d="M328.29 108.68c-17.27 7.16-31.04 13.6-41.29 19.32-10.26 5.73-18.25 11.4-23.97 17.03-5.63 5.63-11.31 13.55-17.03 23.76-5.72 10.21-12.26 24.19-19.61 41.94h-5.87c-7.44-17.75-14.03-31.73-19.75-41.94-5.73-10.21-11.36-18.13-16.89-23.76-5.72-5.63-13.72-11.31-23.97-17.03-10.26-5.73-24.07-12.17-41.44-19.32v-5.87c17.46-7.16 31.32-13.6 41.58-19.32 10.26-5.73 18.2-11.4 23.83-17.03 5.53-5.63 11.16-13.55 16.89-23.76 5.72-10.21 12.31-24.19 19.75-41.93999h5.87C233.74 18.51 240.27 32.49 246 42.7c5.73 10.21 11.4 18.13 17.03 23.76 5.53 5.63 13.43 11.31 23.69 17.03 10.26 5.73 24.12 12.17 41.58 19.32v5.87h-.01Zm-9.02-2.43v-1.15c-13.36-1.33-26.12-3.72-38.29-7.16-12.17-3.43-24.12-8.06-35.85-13.88-5.82-11.74-10.47-23.71-13.96-35.93-3.48-12.21-5.89-24.95-7.23-38.21999h-1.15C221.45 23.17 219.04 35.91 215.56 48.13c-3.48 12.22-8.09 24.19-13.81 35.93-12.21 5.82-24.4 10.47-36.57 13.96-12.17 3.48-24.74 5.85-37.72 7.08v1.15c12.98 1.34 25.55 3.75 37.72 7.23 12.17 3.48 24.35 8.14 36.57 13.95 5.82 12.12 10.45 24.29 13.88 36.5 3.43 12.22 5.82 24.76 7.16 37.64h1.15c1.34-12.88 3.72-25.43 7.16-37.64 3.43-12.21 8.11-24.38 14.03-36.5 11.74-5.82 23.69-10.47 35.85-13.95 12.17-3.48 24.93-5.89 38.29-7.23Z"
		></path>
		<path
			fill="#fff"
			d="M328.29 345.45c-17.27 7.16-31.04 13.6-41.29 19.32-10.26 5.73-18.25 11.4-23.97 17.03-5.63 5.63-11.31 13.55-17.03 23.76-5.72 10.21-12.26 24.19-19.61 41.94h-5.87c-7.44-17.75-14.03-31.73-19.75-41.94-5.73-10.21-11.36-18.13-16.89-23.76-5.72-5.63-13.72-11.31-23.97-17.03-10.26-5.73-24.07-12.17-41.44-19.32v-5.87c17.46-7.16 31.32-13.6 41.58-19.32 10.26-5.73 18.2-11.4 23.83-17.03 5.53-5.63 11.16-13.55 16.89-23.76 5.72-10.21 12.31-24.19 19.75-41.94h5.87c7.35 17.75 13.88 31.73 19.61 41.94 5.73 10.21 11.4 18.13 17.03 23.76 5.53 5.63 13.43 11.31 23.69 17.03 10.26 5.73 24.12 12.17 41.58 19.32v5.87h-.01Zm-9.02-2.43v-1.15c-13.36-1.33-26.12-3.72-38.29-7.16-12.17-3.43-24.12-8.06-35.85-13.88-5.82-11.74-10.47-23.71-13.96-35.93-3.48-12.21-5.89-24.95-7.23-38.22h-1.15c-1.34 13.26-3.75 26-7.23 38.22-3.48 12.22-8.09 24.19-13.81 35.93-12.21 5.82-24.4 10.47-36.57 13.96-12.17 3.48-24.74 5.85-37.72 7.08v1.15c12.98 1.34 25.55 3.75 37.72 7.23 12.17 3.48 24.35 8.14 36.57 13.95 5.82 12.12 10.45 24.29 13.88 36.5 3.43 12.22 5.82 24.76 7.16 37.64h1.15c1.34-12.88 3.72-25.43 7.16-37.64 3.43-12.21 8.11-24.38 14.03-36.5 11.74-5.82 23.69-10.47 35.85-13.95 12.17-3.48 24.93-5.89 38.29-7.23Z"
		></path>
		<path
			fill="#fff"
			d="M107.92 119.22c7.16 17.27 13.6 31.04 19.32 41.29 5.73 10.26 11.4 18.25 17.03 23.97 5.63 5.63 13.55 11.31 23.76 17.03 10.21 5.72 24.19 12.26 41.94 19.61v5.87c-17.75 7.44-31.73 14.03-41.94 19.75-10.21 5.73-18.13 11.36-23.76 16.89-5.63 5.72-11.31 13.72-17.03 23.97-5.73 10.26-12.17 24.07-19.32 41.44h-5.87c-7.16-17.46-13.6-31.32-19.32-41.58-5.73-10.26-11.4-18.2-17.03-23.83-5.63-5.53-13.55-11.16-23.76-16.89-10.21-5.72-24.19-12.31-41.94-19.75v-5.87c17.75-7.35 31.73-13.88 41.94-19.61 10.21-5.73 18.13-11.4 23.76-17.03 5.63-5.53 11.31-13.43 17.03-23.69 5.73-10.26 12.17-24.12 19.32-41.58h5.87v.01Zm-2.43 9.02h-1.15c-1.33 13.36-3.72 26.12-7.16 38.29-3.43 12.17-8.06 24.12-13.88 35.85-11.74 5.82-23.71 10.47-35.93 13.96-12.21 3.48-24.95 5.89-38.22 7.23v1.15c13.26 1.34 26 3.75 38.22 7.23 12.22 3.48 24.19 8.09 35.93 13.81 5.82 12.21 10.47 24.4 13.96 36.57 3.48 12.17 5.85 24.74 7.08 37.72h1.15c1.34-12.98 3.75-25.55 7.23-37.72 3.48-12.17 8.14-24.35 13.95-36.57 12.12-5.82 24.29-10.45 36.5-13.88 12.22-3.43 24.76-5.82 37.64-7.16v-1.15c-12.88-1.34-25.43-3.72-37.64-7.16-12.21-3.43-24.38-8.11-36.5-14.03-5.82-11.74-10.47-23.69-13.95-35.85-3.48-12.17-5.89-24.93-7.23-38.29Z"
		></path>
		<path
			fill="#fff"
			d="M344.69 119.22c7.16 17.27 13.6 31.04 19.32 41.29 5.73 10.26 11.4 18.25 17.03 23.97 5.63 5.63 13.55 11.31 23.76 17.03 10.21 5.72 24.19 12.26 41.94 19.61v5.87c-17.75 7.44-31.73 14.03-41.94 19.75-10.21 5.73-18.13 11.36-23.76 16.89-5.63 5.72-11.31 13.72-17.03 23.97-5.73 10.26-12.17 24.07-19.32 41.44h-5.87c-7.16-17.46-13.6-31.32-19.32-41.58-5.73-10.26-11.4-18.2-17.03-23.83-5.63-5.53-13.55-11.16-23.76-16.89-10.21-5.72-24.19-12.31-41.94-19.75v-5.87c17.75-7.35 31.73-13.88 41.94-19.61 10.21-5.73 18.13-11.4 23.76-17.03 5.63-5.53 11.31-13.43 17.03-23.69 5.73-10.26 12.17-24.12 19.32-41.58h5.87v.01Zm-2.43 9.02h-1.15c-1.33 13.36-3.72 26.12-7.16 38.29-3.43 12.17-8.06 24.12-13.88 35.85-11.74 5.82-23.71 10.47-35.93 13.96-12.21 3.48-24.95 5.89-38.22 7.23v1.15c13.26 1.34 26 3.75 38.22 7.23 12.22 3.48 24.19 8.09 35.93 13.81 5.82 12.21 10.47 24.4 13.96 36.57 3.48 12.17 5.85 24.74 7.08 37.72h1.15c1.34-12.98 3.75-25.55 7.23-37.72 3.48-12.17 8.14-24.35 13.95-36.57 12.12-5.82 24.29-10.45 36.5-13.88 12.22-3.43 24.76-5.82 37.64-7.16v-1.15c-12.88-1.34-25.43-3.72-37.64-7.16-12.21-3.43-24.38-8.11-36.5-14.03-5.82-11.74-10.47-23.69-13.95-35.85-3.48-12.17-5.89-24.93-7.23-38.29Z"
		></path>
	</svg>
</section>
