---
import Logo from "./Logo.astro";
const homepage = `${Astro.url.origin}/` === Astro.url.href;
---

<footer class="bg-green p-[2.5rem]">
	{
		homepage ? (
			<Logo size="small" />
		) : (
			<a
				href={Astro.url.origin}
				class="transition-opacity duration-300 hover:opacity-60 inline-block"
			>
				<Logo size="small" />
			</a>
		)
	}
</footer>
