---
import Logo from "./Logo.astro";
const homepage = `${Astro.url.origin}/` === Astro.url.href;
---

<header>
	{
		homepage ? (
			<Logo size="medium" />
		) : (
			<a href={Astro.url.origin} class="logo">
				<Logo size="medium" />
			</a>
		)
	}
	<nav>
		<ul>
			<li><a href="/approach">approach</a></li>
			<li><a href="/about">about</a></li>
			<li><a href="/services">services</a></li>
			<li><a href="/contact">contact</a></li>
		</ul>
	</nav>
</header>
<style>
	header {
		position: fixed;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2rem;
		width: 100%;
		background-color: var(--color-primary);
	}
	ul {
		display: flex;
		list-style: none;
		gap: 2rem;
	}
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
</style>
