---
import Logo from "./Logo.astro";

const pages = [
	{
		name: "Our Approach",
		href: "/approach",
	},
	{
		name: "About Us",
		href: "/about",
	},
	{
		name: "Services",
		href: "/services",
	},
	{
		name: "Contact",
		href: "/contact",
	},
];

const homepage = `${Astro.url.origin}/` === Astro.url.href;
---

<header class="fixed z-50 flex justify-between align-top p-[2.5rem] w-full">
	<div
		id="headerOverlay"
		class="absolute inset-0 transition-opacity duration-1000 opacity-0 bg-gradient-to-b from-black to-transparent"
	>
	</div>
	{
		homepage ? (
			<div class="shrink-0 relative">
				<Logo size="large" />
			</div>
		) : (
			<a
				href={Astro.url.origin}
				class="transition-opacity duration-300 hover:opacity-60 shrink-0 block"
			>
				<Logo size="large" />
			</a>
		)
	}
	<nav class="relative">
		<ul class="flex gap-[1.5rem]">
			{
				pages.map((page) => (
					<li>
						<a
							href={page.href}
							class:list={[
								Astro.url.pathname === page.href &&
									"border-b-2 border-current",
							]}
						>
							{page.name}
						</a>
					</li>
				))
			}
		</ul>
	</nav>
</header>

<script>
	const headerOverlay = document.querySelector("#headerOverlay");
	if (headerOverlay) {
		addEventListener("scroll", () => {
			if (window.scrollY > 120) {
				headerOverlay.classList.remove("opacity-0");
				headerOverlay.classList.add("opacity-100");
			} else {
				headerOverlay.classList.remove("opacity-100");
				headerOverlay.classList.add("opacity-0");
			}
		});
	}
</script>
