---
import Logo from "./Logo.astro";

const pages = [
	{
		name: "Our Approach",
		href: "/approach",
	},
	{
		name: "About Us",
		href: "/about",
	},
	{
		name: "Services",
		href: "/services",
	},
	{
		name: "Contact",
		href: "/contact",
	},
];

const homepage = `${Astro.url.origin}/` === Astro.url.href;
---

<header class="fixed z-50 flex justify-between align-top p-[2.5rem] w-full">
	{
		homepage ? (
			<Logo size="large" />
		) : (
			<a
				href={Astro.url.origin}
				class="transition-opacity duration-300 hover:opacity-60"
			>
				<Logo size="large" />
			</a>
		)
	}
	<nav>
		<ul class="flex gap-[1.5rem]">
			{
				pages.map((page) => (
					<li>
						<a
							href={page.href}
							class:list={[
								Astro.url.pathname === page.href &&
									"border-b-2 border-current",
							]}
						>
							{page.name}
						</a>
					</li>
				))
			}
		</ul>
	</nav>
</header>
