---
import type { ImageMetadata } from "astro";
interface Props {
	heading: string;
	body: string;
	image: ImageMetadata;
}

import { Image } from "astro:assets";

const { heading, body, image } = Astro.props as Props;
---

<section
	class="relative min-h-[100dvh] flex flex-col justify-center p-[2.5rem]"
>
	<Image
		src={image}
		alt="image alt"
		class="w-full h-full object-cover absolute inset-0"
	/>
	<div class="absolute inset-0 bg-black/50"></div>
	<h2 class="relative">{heading}</h2>
	<p class="relative">{body}</p>
</section>
