---
import type { ImageMetadata } from "astro";
interface Props {
	heading: string;
	body: string;
	position?: "top" | "center" | "bottom";
	alt?: string;
	image?: ImageMetadata;
}

import { Image } from "astro:assets";

const { heading, body, position = "top", alt, image } = Astro.props as Props;
---

<section
	class:list={[
		"relative min-h-[100dvh] flex flex-col px-[2.5rem] pt-[17.5rem] pb-[5rem]",
		{ "justify-start": position === "top" },
		{ "justify-center": position === "center" },
		{ "justify-end": position === "bottom" },
	]}
>
	{
		image && alt && (
			<Image
				src={image}
				alt={alt}
				class="w-full h-full object-cover absolute inset-0"
			/>
		)
	}
	<div class="absolute inset-0 bg-black/50"></div>
	<div
		class="ml-[5.625rem] relative space-y-[1.875rem] md:space-y-[3.75rem] max-w-[26.25rem]"
	>
		<h2 class="r-lg [text-wrap:balance]">{heading}</h2>
		<p class="text-sm max-w-[13.125rem] [text-wrap:pretty]">{body}</p>
	</div>
</section>
